<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd">
    <!--放行-->
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/login.html" security="none"/>
    <http pattern="/login_error.html" security="none"/>

    <!--拦截校验-->
    <http use-expressions="false"><!--use-expressions 为是否使用使用 Spring 表达式语言（ SpEL ），默认为true -->
        <!--拦截页面  /*：表示该目录下的资源，不包括下级目录  /*：表示该目录下所有资源-->
        <!--<security:intercept-url pattern="/**" access="hasRole(ROLE_USER)"/>-->
        <intercept-url pattern="/**" access="ROLE_USER"/><!--必须以ROLE_开头-->
        <!--开启表单登陆，什么都不配置则使用自带登录验证页面，一般用自己写的-->
        <!--login-page：指定登录页面。
        authentication-failure-url：指定了身份验证失败时跳转到的页面。
        default-target-url：指定了成功进行身份验证和授权后默认呈现给用户的页面。
        -->
        <form-login login-page="/login.html" always-use-default-target="true" authentication-failure-url="/login_error.html"/>
        <!--关闭跨站伪造访问-->
        <csrf disabled="true"/>
    </http>

    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="root" password="root" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
